---
import config from 'virtual:starlight/user-config';
import { Icon } from '@astrojs/starlight/components';

const links = config.social || [];
---
{
	links.length > 0 && (
		<>
			{links.map(({ label, href, icon }) => (
				<a href={href} rel="me" class="sl-flex" target="_blank" title={label}>
					<span class="sr-only">{label}</span>
					{label == "GameBanana" ? (
						// The icon is not available in any icon library, so we have to use a custom SVG
						// From https://images.gamebanana.com/static/img/favicon/512x512.png
						// Generated with https://convertio.co/png-svg/ and optimized with https://www.svgviewer.dev/
						// Need to change width and height to 16 to match the other icons and also the fill to currentColor
						<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
							<g transform="translate(0,512) scale(0.1,-0.1)" fill="currentColor">
								<path d="M3120 4530 l0 -280 140 0 140 0 0 -425 0 -425 -140 0 -140 0 0 -420
									0 -420 -140 0 -140 0 0 -140 0 -140 -420 0 -420 0 0 -140 0 -140 -845 0 -845
									0 0 -425 0 -425 140 0 140 0 0 -140 0 -140 140 0 140 0 0 -140 0 -140 280 0
									280 0 0 -140 0 -140 985 0 985 0 0 140 0 140 285 0 285 0 0 140 0 140 140 0
									140 0 0 140 0 140 140 0 140 0 0 285 0 285 140 0 140 0 0 985 0 985 -140 0
									-140 0 0 140 0 140 -140 0 -140 0 0 140 0 140 -140 0 -140 0 0 280 0 280 -425
									0 -425 0 0 -280z m1130 -700 l0 -140 140 0 140 0 0 -985 0 -985 -140 0 -140 0
									0 -285 0 -285 -140 0 -140 0 0 -140 0 -140 -285 0 -285 0 0 -140 0 -140 -985
									0 -985 0 0 140 0 140 -280 0 -280 0 0 140 0 140 -140 0 -140 0 0 285 0 285
									705 0 705 0 0 140 0 140 420 0 420 0 0 140 0 140 140 0 140 0 0 140 0 140 140
									0 140 0 0 420 0 420 140 0 140 0 0 285 0 285 285 0 285 0 0 -140z"/>
							</g>
						</svg>
					) : label == "Fluxer" ? (
						// The icon is not available in any icon library, so we have to use a custom SVG
						// From https://images.gamebanana.com/static/img/favicon/512x512.png
						// Generated with https://convertio.co/png-svg/ and optimized with https://www.svgviewer.dev/
						// Need to change width and height to 16 to match the other icons and also the fill to currentColor
						<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
							<g transform="translate(0,512) scale(0.1,-0.1)" fill="currentColor">
								<path d="M2390 5114 c-357 -27 -712 -128 -1020 -291 -611 -322 -1074 -888
									-1265 -1544 -71 -244 -99 -448 -99 -719 0 -271 28 -475 99 -719 198 -682 689
									-1263 1330 -1576 83 -40 188 -87 235 -104 517 -186 1056 -208 1575 -65 698
									193 1290 685 1610 1339 112 228 184 450 224 685 111 650 -28 1311 -387 1850
									-415 623 -1047 1019 -1792 1125 -107 15 -410 26 -510 19z m-272 -1303 c152
									-44 362 -173 605 -373 304 -248 373 -284 539 -276 187 8 298 96 362 285 31 91
									50 126 94 175 50 56 121 88 195 88 133 0 231 -94 229 -220 -3 -179 -96 -408
									-225 -550 -106 -116 -257 -206 -427 -252 -73 -20 -108 -23 -250 -22 -149 0
									-173 3 -253 27 -188 58 -331 149 -624 398 -152 130 -272 210 -349 233 -90 27
									-228 20 -306 -16 -107 -49 -180 -136 -213 -253 -24 -81 -49 -129 -96 -180
									-115 -125 -304 -112 -386 25 -38 63 -41 97 -17 220 71 375 327 634 699 706
									103 20 329 12 423 -15z m-18 -1376 c158 -40 374 -174 672 -416 268 -217 327
									-245 495 -237 184 9 302 106 362 296 49 160 153 251 284 252 116 0 203 -68
									228 -179 8 -37 -11 -172 -37 -261 -49 -167 -184 -357 -322 -452 -66 -46 -197
									-104 -292 -130 -114 -31 -365 -33 -475 -4 -191 51 -328 136 -645 400 -268 224
									-346 262 -514 254 -109 -6 -180 -34 -251 -99 -58 -53 -87 -104 -114 -194 -33
									-114 -106 -207 -187 -241 -124 -52 -297 32 -320 155 -19 98 47 340 128 471
									133 217 337 352 605 400 74 14 308 4 383 -15z"/>
							</g>
  						</svg>
					) : (
						<Icon name={icon}/>
					)}
				</a>
			))}
		</>
	)
}

<style>
	@layer starlight.core {
		a {
			color: var(--sl-color-text-accent);
			padding: 0.5em;
			margin: -0.5em;
		}

		a:hover {
			color: var(--sl-color-white);
		}
	}
</style>